/* MAIN COLORS
ORANGE - #EA5317
LIGHT BLUE - #11B5E4
BLUE - #1481BA
GREEN - #26BF5B
GRAY - #686D75
*/

body {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  height: 100vh;
  width: 100vh;
  padding: 0;
  margin: 0;
}

/* nav styles */
#nav-bar {
  background-color: #1481ba;
  border-bottom: solid, 0.3rem, #686d75;
  position: fixed;
  top: 0;
  width: inherit;
  display: flex;
  justify-content: space-around;
  height: 4rem;
}

/* Main styles */
#main {
  margin-top: 0.5rem;
  width: inherit;
  background-color: #26bf5b;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
}

/* Button Styling */
[class*='btn'] {
  border-radius: 2%;
  padding: 0.8rem, 0.6rem;
  border: 0.5rem, solid, black;
}
/* Delete Button */
[class*='btn--red'] {
  background-color: red;
}
/*  */
[class*='btn--blue'] {
  background-color: #1481ba;
}
[class*='btn--light-blue'] {
  background-color: #11b5e4;
}

[class*='btn--orange'] {
  background-color: #ea5317;
}
[class*='btn--green'] {
  background-color: #26bf5b;
}

/* Any Hide any element that contains a class with this flag */
[class*='--hidden'] {
  display: none;
}
